/* HTML */
html {
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0;
}
/* Material Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/material-icons/MaterialIcons-Regular.eot?#fuckyouie) format('embedded-opentype'),
         local('/fonts/material-icons/Material Icons'),
         local('/fonts/material-icons/MaterialIcons-Regular'),
         url(/fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
         url(/fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
         url(/fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
/* Loader */
#loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0a0b0c;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}

.slide-right {
    animation: slide-in 1s cubic-bezier(0,.5,.5,1), maintain-center .1s 1s linear, slide-right 1.5s 1.1s cubic-bezier(1,0,0,1);
    transform: translateX(75%);
}

.slide-left {
    animation: slide-in 1s cubic-bezier(0,.5,.5,1), maintain-center .1s 1s linear, slide-left 1.5s 1.1s cubic-bezier(1,0,0,1);
    transform: translateX(-125%);
}

.init-right {
    transform: translateX(calc(100px - 25%));
}

.init-left {
    transform: translateX(calc(-100px - 25%));
}

#loader #right-panel {
    position: absolute;
    height: 100%;
    width: 200%;
    background: -webkit-linear-gradient(225deg, #0a0b0c 50.1%, rgba(0,0,0,0) 50.1%);
    z-index: 2;
    opacity: 1;
}

#loader #left-panel {
    position: absolute;
    height: 100%;
    width: 200%;
    background: -webkit-linear-gradient(225deg, rgba(0,0,0,0) 49.9%, #0a0b0c 49.9%);
    z-index: 2;
    opacity: 1;
}

.invisible {
    opacity: 0 !important;
}

.visible {
    opacity: 1 !important;
}

.display-none {
    display: none;
}

.transparent {
    background-color: transparent;
}

#loader #logo-wrapper {
    position: absolute;
    height: 89px;
    width: 89px;
    left: calc(50% - 43px);
    top: calc(50% - 44.5px);
    animation: load 1.5s infinite cubic-bezier(0,.5,.5,1) alternate;
    z-index: 1;
}

@keyframes load {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes maintain-center {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-25%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-25%);
        opacity: 1;
    }
    100% {
        transform: translateX(75%);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-25%);
        opacity: 1;
    }
    100% {
        transform: translateX(-125%);
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateX(-25%);
        opacity: 1;
    }
}

#loader #logo-wrapper .right-triangle {
    border-style: solid;
    border-width: 0 25px 43.3px 25px;
    border-color: transparent transparent #ffffff transparent;
    transform: rotate(45deg);
    right: 0px;
    position: absolute;
    top: 10px;
}

#loader #logo-wrapper .left-triangle {
    border-style: solid;
    border-width: 0 25px 43.3px 25px;
    border-color: transparent transparent #ffffff transparent;
    transform: rotate(225deg);
    left: 0px;
    position: absolute;
    top: 38px;
}
/* Colors */
.sht-black {
    background-color: #0a0b0c;
}

.sht-black-text {
    color: #0a0b0c;
}
/* Navigation */
nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 20px;
    z-index: 999;
    position: absolute;
}

nav ul {
    line-height: 40px;
}

nav ul li a span {
    position: relative;
    display: block;
    transform: skew(-45deg);
    z-index: 1;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

.reverse-nav li a {
    transform: skew(-45deg);
}

.reverse-nav li a span {
    transform: skew(45deg);
}

nav ul a:hover {
    background-color: transparent;
}

nav ul li {
    margin-left: 2px;
}

nav ul li a {
    padding: 0 30px;
    background-color: rgba(255, 255, 255, .0);
    transform: skew(45deg);
}

nav ul li a:after {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    border-bottom: 0px solid rgba(255, 255, 255, .2);
    width: 100%;
    left: 0;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

nav ul li a:hover span {
    color: #000000;
}

nav ul li a:focus span {
    color: #000000;
}

nav ul li a:active span {
    color: #000000;
}

nav ul li a:hover:after {
    top: 0;
    border-bottom: 40px solid rgba(255, 255, 255, 1);
}

nav ul li a:focus:after {
    top: 0;
    border-bottom: 40px solid rgba(255, 255, 255, 1);
}

nav ul li a:active:after {
    top: 0;
    border-bottom: 40px solid rgba(220, 220, 220, 1);
}

nav ul li a.active:after {
    top: 0;
    border-bottom: 40px solid rgba(255, 255, 255, .2);
}

nav ul li a.active:hover:after {
    border-bottom: 40px solid rgba(255, 255, 255, 1);
}

nav ul li a.active:focus:after {
    top: 0;
    border-bottom: 40px solid rgba(255, 255, 255, 1);
}

nav ul li a.active:active:after {
    border-bottom: 40px solid rgba(220, 220, 220, 1);
}

nav ul li a {
    color: #ffffff;
}
/* Dark Nav */
nav.dark ul li a:after {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    border-bottom: 0px solid rgba(10, 11, 12, .2);
    width: 100%;
    left: 0;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

nav.dark ul li a:hover span {
    color: #ffffff;
}

nav.dark ul li a:focus span {
    color: #ffffff;
}

nav.dark ul li a:active span {
    color: #ffffff;
}

nav.dark ul li a:hover:after {
    top: 0;
    border-bottom: 40px solid rgba(10, 11, 12, 1);
}

nav.dark ul li a:focus:after {
    top: 0;
    border-bottom: 40px solid rgba(10, 11, 12, 1);
}

nav.dark ul li a:active:after {
    top: 0;
    border-bottom: 40px solid rgba(10, 11, 12, 1);
}

nav.dark ul li a.active:after {
    top: 0;
    border-bottom: 40px solid rgba(10, 11, 12, .1);
}

nav.dark ul li a.active:hover:after {
    border-bottom: 40px solid rgba(10, 11, 12, 1);
}

nav.dark ul li a.active:focus:after {
    top: 0;
    border-bottom: 40px solid rgba(10, 11, 12, 1);
}

nav.dark ul li a.active:active:after {
    border-bottom: 40px solid rgba(10, 11, 12, 1);
}

nav.dark ul li a {
    color: #000000;
}
/* Home Parallax */
#home-parallax {
    height: 100vh;
    color: #fff;
    font-weight: 300;
    z-index: 1;
}

#home-parallax .parallax {
    opacity: .5;
}

#gaming-parallax .parallax {
    opacity: .5;
}

#gaming-parallax .row {
    margin-bottom: 0;
}

#home-parallax h5, h3, h6 {
    font-weight: 300;
}

#parallax-bg {
    background-color: #000000;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

#parallax-img {
    opacity: 0;
    -webkit-transition: opacity 2s ease;
    transition: opacity 2s ease;
}

#gaming-img {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
/* Home */
.arrow {
    height: 50px;
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
}
.home-section {
    padding: 100px 0;
}
.home-section .row {
    margin: 0;
}
/* Text Weights */
.light-text {
    font-weight: 300;
}

.normal-text {
    font-weight: 400;
}
/* Home Tech */
#watch-container {
    height: 300px;
    width: 300px;
    transform: scale(0.685);
    transform-origin: 0 0;
    padding: 1px;
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#watch-container .case {
    position: absolute;
    margin: -25px 0 0 -100px;
}

#watch-container .shadow {
    position: absolute;
    margin: -25px 0 0 -100px;
}

#watch-container .crown {
    position: absolute;
    margin: -26px 0 0 -100px; /* 120 .. 128 */
}

#watch-container .screen {
    position: absolute;
    margin: -25px 0 0 -100px;
    transform: rotate(-30deg);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    pointer-events: none;
    opacity: 0;
}

#watch-container .hover-overlay {
    position: absolute;
    top: 112px;
    left: 37px;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    opacity: .2;
}

#watch-container .hover:hover ~ .screen {
    transform: rotate(30deg);
}

.animate-watch {
    animation: watch-rotate 1.5s cubic-bezier(0,.5,.5,1);
    opacity: 1 !important;
}

@keyframes watch-rotate {
    0% {
        transform: rotate(390deg);
        opacity: 0;
    }
    100% {
        transform: rotate(-30deg);
        opacity: 1;
    }
}

#code-container {
    opacity: 0;
}

#gaming-container {
    opacity: 0;
}

#music-container {
    opacity: 0;
}

.animate-code {
    animation: fade-left .65s cubic-bezier(0,.5,.5,1);
    opacity: 1 !important;
}

.animate-gaming {
    animation: fade-right .65s cubic-bezier(0,.5,.5,1);
    opacity: 1 !important;
}

.animate-music {
    animation: fade-left .65s cubic-bezier(0,.5,.5,1);
    opacity: 1 !important;
}

@keyframes fade-left {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sht-home h5 {
    line-height: 1.3em;
}

footer h6 {
    font-size: 1.35rem;
    color: #ffffff;
    font-weight: 300;
}

footer h5 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 20px;
}

footer .footer-main {
    position: relative;
    left: -10px;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 30px;
}

footer .footer-copyright {
    background-color: #060708;
    padding: 22px 0 20px 0;
    font-size: 1.0rem;
}

footer .footer-copyright a {
    font-weight: 400;
}

footer .footer-copyright span {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 300;
}

footer ul.social-links li {
    display: inline;
}

footer ul.social-links li a img {
    padding: 5px 0;
    height: 45px;
    width: 45px;
    filter: invert(100%);
}

footer .sitemap ul li a {
    font-size: 1.35rem;
    font-weight: 300;
}

footer ul {
    margin: 0;
}
