/* HTML */
html {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

body {
    background-color: #fafbfc;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* Material Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/material-icons/MaterialIcons-Regular.eot?#fuckyouie) format('embedded-opentype'),
         local('/fonts/material-icons/Material Icons'),
         local('/fonts/material-icons/MaterialIcons-Regular'),
         url(/fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
         url(/fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
         url(/fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Samsung Sharp Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('/fonts/samsung/Samsung Sharp Sans Regular'), url(/fonts/samsung/SamsungSharpSansRegular.woff) format('woff');
}


@font-face {
    font-family: 'Samsung Sharp Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('/fonts/samsung/Samsung Sharp Sans Bold'), url(/fonts/samsung/SamsungSharpSansBold.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
/* Loader */
#loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0a0b0c;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}

.slide-right {
    animation: slide-in 1s cubic-bezier(0,.5,.5,1), maintain-center .1s 1s linear, slide-right 1.5s 1.1s cubic-bezier(1,0,0,1);
    transform: translateX(75%);
}

.slide-left {
    animation: slide-in 1s cubic-bezier(0,.5,.5,1), maintain-center .1s 1s linear, slide-left 1.5s 1.1s cubic-bezier(1,0,0,1);
    transform: translateX(-125%);
}

.init-right {
    transform: translateX(calc(100px - 25%));
}

.init-left {
    transform: translateX(calc(-100px - 25%));
}

#loader #right-panel {
    position: absolute;
    height: 100%;
    width: 200%;
    background: -webkit-linear-gradient(225deg, #0a0b0c 50.1%, rgba(0,0,0,0) 50.1%);
    z-index: 2;
    opacity: 1;
}

#loader #left-panel {
    position: absolute;
    height: 100%;
    width: 200%;
    background: -webkit-linear-gradient(225deg, rgba(0,0,0,0) 49.9%, #0a0b0c 49.9%);
    z-index: 2;
    opacity: 1;
}

.invisible {
    opacity: 0 !important;
}

.visible {
    opacity: 1 !important;
}

.hidden {
    display: none;
}

.display-none {
    display: none;
}

.transparent {
    background-color: transparent;
}

#loader #logo-wrapper {
    position: absolute;
    height: 89px;
    width: 89px;
    left: calc(50% - 43px);
    top: calc(50% - 44.5px);
    animation: load 1.5s infinite cubic-bezier(0,.5,.5,1) alternate;
    z-index: 1;
}

@keyframes load {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes maintain-center {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-25%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-25%);
        opacity: 1;
    }
    100% {
        transform: translateX(75%);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-25%);
        opacity: 1;
    }
    100% {
        transform: translateX(-125%);
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateX(-25%);
        opacity: 1;
    }
}

#loader #logo-wrapper .right-triangle {
    border-style: solid;
    border-width: 0 25px 43.3px 25px;
    border-color: transparent transparent #ffffff transparent;
    transform: rotate(45deg);
    right: 0px;
    position: absolute;
    top: 10px;
}

#loader #logo-wrapper .left-triangle {
    border-style: solid;
    border-width: 0 25px 43.3px 25px;
    border-color: transparent transparent #ffffff transparent;
    transform: rotate(225deg);
    left: 0px;
    position: absolute;
    top: 38px;
}
/* Colors */
.sht-black {
    background-color: #0a0b0c;
}

.sht-black-text {
    color: #0a0b0c;
}
/* Navigation */
.nav-background {
    height: 100px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #ffffff;
}
nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 30px;
    z-index: 999;
    position: absolute;
}

nav ul {
    line-height: 40px;
    margin-left: -10px;
}

nav ul li a span {
    position: relative;
    display: block;
    transform: skew(-45deg);
    z-index: 1;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

.reverse-nav li a {
    transform: skew(-45deg);
    margin-right: -8px;
}

.reverse-nav li a span {
    transform: skew(45deg);
}

nav ul a:hover {
    background-color: transparent;
}

nav ul li {
    margin-left: 2px;
}

nav ul li a {
    padding: 0 30px;
    background-color: rgba(255, 255, 255, .0);
    transform: skew(45deg);
}

nav ul li a:after {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    border-bottom: 0px solid rgba(255, 255, 255, .2);
    width: 100%;
    left: 0;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

nav ul li a:hover span {
    color: #000000;
}

nav ul li a:focus span {
    color: #000000;
}

nav ul li a:active span {
    color: #000000;
}

nav ul li a:hover:after {
    top: 0;
    border-bottom: 40px solid rgba(255, 255, 255, 1);
}

nav ul li a:focus:after {
    top: 0;
    border-bottom: 40px solid rgba(255, 255, 255, 1);
}

nav ul li a:active:after {
    top: 0;
    border-bottom: 40px solid rgba(220, 220, 220, 1);
}

nav ul li a.active:after {
    top: 0;
    border-bottom: 40px solid rgba(255, 255, 255, .2);
}

nav ul li a.active:hover:after {
    border-bottom: 40px solid rgba(255, 255, 255, 1);
}

nav ul li a.active:focus:after {
    top: 0;
    border-bottom: 40px solid rgba(255, 255, 255, 1);
}

nav ul li a.active:active:after {
    border-bottom: 40px solid rgba(220, 220, 220, 1);
}

nav ul li a {
    color: #ffffff;
}
/* Dark Nav */
nav.dark ul li a:after {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    border-bottom: 0px solid rgba(60, 61, 62, .2);
    width: 100%;
    left: 0;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

nav.dark ul li a:hover span {
    color: #ffffff;
}

nav.dark ul li a:focus span {
    color: #ffffff;
}

nav.dark ul li a:active span {
    color: #ffffff;
}

nav.dark ul li a:hover:after {
    top: 0;
    border-bottom: 40px solid rgba(60, 61, 62, 1);
}

nav.dark ul li a:focus:after {
    top: 0;
    border-bottom: 40px solid rgba(60, 61, 62, 1);
}

nav.dark ul li a:active:after {
    top: 0;
    border-bottom: 40px solid rgba(10, 11, 12, 1);
}

nav.dark ul li a.active:after {
    top: 0;
    border-bottom: 40px solid rgba(60, 61, 62, .1);
}

nav.dark ul li a.active:hover:after {
    border-bottom: 40px solid rgba(60, 61, 62, 1);
}

nav.dark ul li a.active:focus:after {
    top: 0;
    border-bottom: 40px solid rgba(60, 61, 62, 1);
}

nav.dark ul li a.active:active:after {
    border-bottom: 40px solid rgba(10, 11, 12, 1);
}

nav.dark ul li a {
    color: #000000;
}
/* Home Parallax */
#home-parallax {
    height: 100vh;
    color: #fff;
    font-weight: 300;
    z-index: 1;
}

#home-parallax .intro {
    position: relative;
    margin-top: 42px;
    font-size: 4rem;
    font-family: 'Samsung Sharp Sans Regular';
    line-height: 3.5rem;
    opacity: .9;
}

#home-parallax .parallax {
    opacity: .5;
}

#gaming-parallax .parallax {
    background-color: #d4d4d4;
    opacity: .5;
}

#gaming-parallax .row {
    margin-bottom: 0;
}

#home-parallax h5, h3, h6 {
    font-weight: 300;
}

#parallax-bg {
    background-color: #000000;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

#parallax-img {
    opacity: 0;
    -webkit-transition: opacity 2s ease;
    transition: opacity 2s ease;
}

#gaming-img {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
/* Home */
.arrow {
    height: 50px;
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
}
.home-section {
    padding: 100px 0;
}
.home-section .row {
    margin: 0;
}
/* Text Weights */
.light-text {
    font-weight: 300;
}

.normal-text {
    font-weight: 400;
}

.sht-home a.anchor {
    font-size: 1.3rem;
    font-weight: 400;
}
/* Home Tech */
#watch-container {
    height: 300px;
    width: 300px;
    transform: scale(0.685);
    transform-origin: 0 0;
    padding: 1px;
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#watch-container .case {
    position: absolute;
    margin: -25px 0 0 -100px;
}

#watch-container .shadow {
    position: absolute;
    margin: -25px 0 0 -100px;
}

#watch-container .crown {
    position: absolute;
    margin: -26px 0 0 -97px; /* 120 .. 128 */
}

#watch-container .screen {
    position: absolute;
    margin: -25px 0 0 -100px;
    transform: rotate(-30deg);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    pointer-events: none;
    opacity: 0;
}

#watch-container .hover-overlay {
    position: absolute;
    top: 112px;
    left: 37px;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    opacity: .2;
}

#watch-container .hover-overlay:hover ~ .screen {
    transform: rotate(30deg);
}

.animate-watch-crown {
    animation: watch-crown-push 1.5s cubic-bezier(0,.5,.5,1);
}

@keyframes watch-crown-push {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(0px);
    }
    40% {
        transform: translateX(-2px);
    }
    60% {
        transform: translateX(0px);
    }
    80% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0px);
    }
}

.animate-watch {
    animation: watch-rotate 1.5s cubic-bezier(0,.5,.5,1);
    opacity: 1 !important;
}

@keyframes watch-rotate {
    0% {
        transform: rotate(390deg);
        opacity: 0;
    }
    100% {
        transform: rotate(-30deg);
        opacity: 1;
    }
}

.sht-home #code-container {
    opacity: 0;
}

#gamepad-container {
    position: relative;
    height: 300px;
    width: 500px;
    margin-left: -100px
    padding: 1px;
    opacity: 1;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    transform: translateY(-400px);
}

@keyframes move-gamepad {
    0% {
        transform: translateY(-400px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-gamepad {
    animation: move-gamepad 1.5s cubic-bezier(0,.5,.5,1);
    opacity: 1 !important;
    transform: translateY(0) !important;
}

#gamepad-container .gamepad, .dots, .pad, .spad {
    position: absolute;
    transform: scale(0.8);
    margin: -40px 0 0 -100px;
    pointer-events: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#gamepad-container .sgamepad {
    position: absolute;
    transform: scale(0.8);
    margin: -36px 0 0 -100px;
    opacity: .15;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#gamepad-container #dot1, #dot2, #dot3, #dot4 {
    position: absolute;
    transform: scale(1.2);
    padding: 1px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#gamepad-container #dot1 {
    margin: 130px 0 0 73px;
}

#gamepad-container #dot2 {
    margin: 130px 0 0 125px;
}

#gamepad-container #dot3 {
    margin: 183px 0 0 73px;
}

#gamepad-container #dot4 {
    margin: 183px 0 0 125px;
}

#gamepad-container #sdot1, #sdot2, #sdot3, #sdot4 {
    position: absolute;
    transform: scale(1.2);
    padding: 1px;
}

#gamepad-container #dot1:hover, #dot2:hover, #dot3:hover, #dot4:hover {
    transform: scale(1.2) translateY(4px);
}

#gamepad-container #sdot1 {
    margin: 124px 0 0 63px;
}

#gamepad-container #sdot2 {
    margin: 124px 0 0 115px;
}

#gamepad-container #sdot3 {
    margin: 177px 0 0 63px;
}

#gamepad-container #sdot4 {
    margin: 177px 0 0 115px;
}

#gamepad-container .hover-overlay {
    position: absolute;
    top: 132px;
    left: 316px;
    height: 70px;
    width: 70px;
}

#gamepad-container .hover-overlay:hover ~ .pad {
    transform: scale(0.8) translateY(4px);
}

#gamepad-container .spad {
    margin: -36px 0 0 -100px;
    opacity: .33;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#gamepad-container .cable {
    position: absolute;
    margin: -336px 0 0 -100px;
}

#gaming-container {
    opacity: 0;
}

#music-container {
    opacity: 0;
}

.animate-code {
    animation: fade-left .65s cubic-bezier(0,.5,.5,1);
    opacity: 1 !important;
}

.animate-gaming {
    animation: fade-right .65s cubic-bezier(0,.5,.5,1);
    opacity: 1 !important;
}

.animate-music {
    animation: fade-left .65s cubic-bezier(0,.5,.5,1);
    opacity: 1 !important;
}

@keyframes fade-left {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sht-home h5 {
    line-height: 1.3em;
}

footer h6 {
    font-size: 1.35rem;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.9rem;
}

footer h5 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 20px;
}

footer .footer-main {
    position: relative;
    left: -10px;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 34px;
}

footer .footer-copyright {
    background-color: #060708;
    padding: 22px 0 20px 0;
    font-size: 1.0rem;
}

footer .footer-copyright a {
    font-weight: 400;
}

footer .footer-copyright span {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 300;
}

footer ul.social-links li {
    display: inline;
}

footer ul.social-links li a img {
    padding: 5px 0;
    height: 45px;
    width: 45px;
    filter: invert(100%);
    opacity: .7;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

footer ul.social-links li a img:hover {
    opacity: 1;
}

footer ul.social-links li a img:active {
    opacity: .8;
}

footer .sitemap ul li a {
    font-size: 1.35rem;
    font-weight: 300;
}

footer ul {
    margin: 0;
}

.anchor {
    position: relative;
    padding: 1px;
    background-color: rgba(0,0,0,0) !important;
}

.anchor:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    left: 0;
    margin-top: -2px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.anchor:hover:after {
    width: 100%;
}

.anchor.white:after {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.anchor.white:active:after {
    border-bottom: 1px solid rgba(255, 255, 255, .75);
}

.anchor.black:after {
    border-bottom: 1px solid rgba(0, 0, 0, .6);
}

.anchor.black:active:after {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

#login-container {
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 300px);
    width: 400px;
}

#login-bg-container {
    position: absolute;
    top :0;
    pointer-events: none;
    height: 100vh;
    width: 100%;
    background: url(/images/home/gaming-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .5;
    transform: rotateY(1deg) translate3d(0, 0, 0);
}

.login-wrapper {
    width: 400px;
    height: 600px;
    padding: 0px;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.035), 0 1px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 4px -1px rgba(0, 0, 0, 0.075);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.035), 0 1px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 4px -1px rgba(0, 0, 0, 0.075);
}

.login-wrapper #default {
    position: absolute;
    width: 400px;
    height: 600px;
    padding: 30px;
    pointer-events: none;
}

.login-wrapper #containers {
    width: 1200px;
    height: 600px;
    overflow-x: auto;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.login-content, .code-content, .fingerprint-content {
    padding: 30px;
    float: left;
    width: 400px;
    height: 500px;
}

/*
.login-content {
    background-color: rgba(255,0,0, .1);
}

.code-content {
    background-color: rgba(0,255,0, .1);
}

.fingerprint-content {
    background-color: rgba(0,0,255, .1);
}
*/

.login-one-step {
    transform: translateX(0);
}

.login-two-step {
    transform: translateX(-33.333%);
}

.login-three-step {
    transform: translateX(-66.666%);
}

.login-wrapper h5 {
    font-size: 1.9rem;
    color: #444444;
}

.login-wrapper h6 {
    font-size: 1.4rem;
    color: #888888;
}

.login-wrapper .cms {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    color: #cccccc;
    bottom: 16px;
    transform: translateX(-50%);
}

.login-wrapper .cms-img {
    position: absolute;
    bottom: 6.5px;
    height: 50px;
    width: 50px;
    left: calc(50% - 2px);
    transform: translateX(-50%);
    opacity: .25;
}

.login-wrapper #login_form, #code_form, #fingerprint_form {
    margin-top: 200px;
}

#fingerprint_form {
    position: relative;
}

#fingerprint_form h6 {
    position: relative;
    top: 155px;
    text-align: center;
}

#fingerprint_form #fingerprint-ico {
    position: absolute;
    font-size: 6rem;
    margin-top: 55px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

#fingerprint_form #fingerprint-ico.blue {
    opacity: 1;
}

.animated-fingerprint {
    animation: fingerprint-pulse 1.6s infinite alternate ease-in-out;
}

@keyframes fingerprint-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

#fingerprint_form button, #fingerprint_form input {
    display: none;
}

.login-wrapper #login_form button, #code_form button, #register_form button {
    margin-top: 18px;
}

.login-wrapper #login_form .anchor {
    position: absolute;
    margin-top: 23px;
    font-size: 1.2rem;
}

.login-wrapper #login_form .input-field.col label, #code_form .input-field.col label, #register_form .input-field.col label {
    left: 0;
}

.login-wrapper #login_form input:focus+label, #code_form input:focus+label, #register_form input:focus+label {
    color: #9e9e9e;
}

.login-wrapper #login_form .input-field input:focus, #code_form .input-field input:focus, #register_form .input-field input:focus  {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
}

.login-wrapper #login_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.login-wrapper #login_form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.login-wrapper #login_form #rememberme_container {
    position: absolute;
    top: 394px;
}

.login-wrapper #login_form #rememberme_container span {
    width: 140px;
    line-height: 1.4rem;
}

@media only screen and (max-width: 991px) {
    .login-wrapper #login_form #rememberme_container {
        margin-top: -7px;
    }
}

@media only screen and (max-width: 450px) {
    .login-wrapper {
        width: 300px;
        height: 550px;
        margin-top: 20px;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;

    }
    #login-container {
        left: calc(50% - 150px);
        width: 300px;
        height: 550px;
    }
    .login-wrapper.sht-depth-3 {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .login-wrapper #code_form button, #register_form button {
        margin-top: 0;
    }
    #login-bg-container {
        background: none;
        background-color: #ffffff;
        opacity: 1;
    }
    .login-wrapper #default {
        width: 300px;
        height: 550px;
    }
    .login-wrapper #containers {
        width: 900px;
        height: 550px;
    }
    .login-content, .code-content, .fingerprint-content {
        width: 300px;
        height: 550px;
    }
    .login-wrapper #login_form #rememberme_container {
        top: 389px;
    }

    .login-wrapper #login_form #rememberme_container span {
        margin-left: -6px;
    }

    .login-wrapper #login_form #rememberme_container span::after {
        left: 6px;
    }

    .login-wrapper #login_form #rememberme_container span::before {
        left: 7px;
    }

    .login-wrapper #login_form button {
        margin-top: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    .login-wrapper #login_form button {
        margin-top: 14px;
    }
}

@media only screen and (min-width: 992px) {
    .login-wrapper #login_form #rememberme_container {
        margin-top: -4px;
    }
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #2196F3;
    background-color: #2196F3;
    z-index: 0;
}

/* Blog */
.posts {
}

.post {
    margin-bottom: 22px;
    padding: 30px;
    background-color: #ffffff;
}

.sht-depth-3 {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.035), 0 3px 14px 2px rgba(0,0,0,0.03), 0 5px 5px -3px rgba(0,0,0,0.05);
            box-shadow: 0 8px 17px 2px rgba(0,0,0,0.035), 0 3px 14px 2px rgba(0,0,0,0.03), 0 5px 5px -3px rgba(0,0,0,0.05);
}

.sht-depth-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.035), 0 1px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 4px -1px rgba(0, 0, 0, 0.075);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.035), 0 1px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 4px -1px rgba(0, 0, 0, 0.075);
}

.post .title {
    font-size: 3rem;
    margin-top: -2px;
    font-family: 'Samsung Sharp Sans Bold';
    line-height: 3.5rem;
    color: #505050;
}

.post .date {
    font-size: 1.3rem;
    margin-top: -8px;
    margin-bottom: 4px;
}

.post .content {
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: -4px;
}

.post .read-more-btn {
    margin-top: 30px;
    position: relative;
    height: 30px;
}

.post .read-more-btn a {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: #666666;
    font-family: 'Samsung Sharp Sans Bold';
    font-size: 1rem;
}

.post .read-more-btn img {
    position: absolute;
    display: block;
    margin-top: -10px;
    width: 30px;
    left: calc(50% - 15px);
}

.sidebar {
    background-color: #ffffff;
}

.sidebar .content {
    padding: 30px;
    height: 600px;
}

.collapsible-header {
    display: block;
}

input:-webkit-autofill + label {
    -webkit-transform: translateY(-14px) scale(0.8) !important;
    transform: translateY(-14px) scale(0.8) !important;
    -webkit-transform-origin: 0 0 !important;
    transform-origin: 0 0 !important;
}

.login-fail-red {
    border-bottom: 1px solid #f44336 !important;
    box-shadow: 0 1px 0 0 #f44336 !important;
}

.login-fail-grey {
    border-bottom: 1px solid #555555 !important;
    box-shadow: 0 1px 0 0 #555555 !important;
}

.login-wrapper #register_form {
    margin-top: 140px;
}

#username-container, #password-container, #rememberme_container, #submit-btn, #step, #description, #cms-container, .login-wrapper {
    opacity: 0;
}

#cms-container {
    position: absolute;
    bottom: 16px;
    left: 50%;
}

.arise {
    animation: arise .3s;
    opacity: 1 !important;
}

@keyframes arise {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card-arise {
    animation: card-arise .5s linear;
    position: relative;
    z-index: 10000000;
    opacity: 1 !important;
    -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.035), 0 3px 14px 2px rgba(0,0,0,0.03), 0 5px 5px -3px rgba(0,0,0,0.05);
            box-shadow: 0 8px 17px 2px rgba(0,0,0,0.035), 0 3px 14px 2px rgba(0,0,0,0.03), 0 5px 5px -3px rgba(0,0,0,0.05);
}

@media only screen and (max-width: 450px) {
    .card-arise {
        animation: none;
    }
}

@keyframes card-arise {
    0% {
        transform: scale(1);
        opacity: 1;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.035), 0 1px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 4px -1px rgba(0, 0, 0, 0.075);
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.035), 0 1px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 4px -1px rgba(0, 0, 0, 0.075);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.035), 0 3px 14px 2px rgba(0,0,0,0.03), 0 5px 5px -3px rgba(0,0,0,0.05);
                box-shadow: 0 8px 17px 2px rgba(0,0,0,0.035), 0 3px 14px 2px rgba(0,0,0,0.03), 0 5px 5px -3px rgba(0,0,0,0.05);
    }
}
