// out: ../css/blog.css, compress: true, autoprefixer: defaults
a.link {
    &:hover {
        box-shadow: inset 0 -2px 0 0 #fff, inset 0 -4px 0 0 #000;
        text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff,
        0 -2px 0 #fff,
        0 2px 0 #fff,
        -2px 0 0 #fff,
        2px 0 0 #fff;
    }
}
#blog-container {
    width: calc(~"100% - 0px");
    #posts {
        width: calc(~"70%");
        #breadcrumbs {
            position: relative;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            height: 150px;
            margin-bottom: 30px;
            // font-size: 0;
            span {
                top: 0;
                height: 150px;
                font-size: 1.6rem;
                line-height: 150px;
                color: #666;
                font-weight: 300;
                font-family: 'Source Sans Pro', sans-serif;
                a {
                    text-decoration: none;
                    color: #111;
                    font-weight: 400;
                    opacity: .9;
                }
                &:after {
                    content: '/';
                    opacity: .75;
                    margin: 0 8px;
                    // display: inline-block;
                    // vertical-align: middle;
                    // width: 10px;
                    // height: 10px;
                    // margin: 15px 8px;
                    // background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNSAzbDMuMDU3LTMgMTEuOTQzIDEyLTExLjk0MyAxMi0zLjA1Ny0zIDktOXoiLz48L3N2Zz4=');
                    // background-size: 100%;
                }
                &:last-child:after {
                    content: none;
                }
            }
        }
        .post {
            margin-bottom: 80px;
            max-height: 240px;
            .content {
                max-height: 200px;
                .title {
                    //display: block;
                    height: 40px;
                    font-size: 3.5rem;
                    line-height: 40px;
                    //color: #666;
                    font-weight: 400;
                    font-family: 'Lato', sans-serif;
                    color: #333;
                    text-decoration: none;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    // background: linear-gradient(to right, #0fcec8, #19e0b3);
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;

                    &:hover {
                        color: #000;
                    }

                }
                .date {
                    display: block;
                    font-size: 1.3rem;
                    line-height: 40px;
                    color: #aaa;
                    font-weight: 300;
                    font-family: 'Source Sans Pro', sans-serif;
                    height: 40px;

                }
                .description {
                    display: block;
                    margin: 10px 0;
                    font-size: 1.5rem;

                    height: 30px;
                    line-height: 30px;
                    font-weight: 300;
                    color: #666;
                    font-family: 'Source Sans Pro', sans-serif;



                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;


                }
            }
        }
        #pagination {
            position: relative;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
            height: 40px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 80px;
            a, .spacer {
                position: relative;
                height: 40px;
                width: 40px;
                background-color: #eee;
                border-radius: 5px;
                margin: 0 2px;
                line-height: 40px;
                display: block;
                float: left;
                line-height: 40px;
                text-decoration: none;
                color: #666;
                font-family: 'Oswald', sans-serif;
                transition: background-color .1s ease;
                &:hover {
                    background-color: #e5e5e5;
                    transition: none;
                }
                &.spacer {
                    background-color: transparent;
                    color: #666;
                }
                &.active {
                    background: #111;
                    color: #fff;
                }
                &.disabled {
                    display: none;
                }
                &.prev, &.next, &.start, &.end {
                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 10px;
                        height: 10px;
                        margin: 15px;
                        opacity: .6;
                        background-size: 100%;
                    }
                    &.prev, &.next {
                        &:after {
                            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNSAzbDMuMDU3LTMgMTEuOTQzIDEyLTExLjk0MyAxMi0zLjA1Ny0zIDktOXoiLz48L3N2Zz4=');
                        }
                    }
                    &.start, &.end {
                        &:after {
                            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAzLjc5NWwyLjk5NS0yLjk4IDExLjEzMiAxMS4xODUtMTEuMTMyIDExLjE4Ni0yLjk5NS0yLjk4MSA4LjE2Ny04LjIwNS04LjE2Ny04LjIwNXptMTguMDQgOC4yMDVsLTguMTY3IDguMjA1IDIuOTk1IDIuOTggMTEuMTMyLTExLjE4NS0xMS4xMzItMTEuMTg2LTIuOTk1IDIuOTggOC4xNjcgOC4yMDZ6Ii8+PC9zdmc+');
                        }
                    }
                    &.prev:after, &.start:after {
                        transform: rotate(180deg);
                    }
                }
            }
        }

    }
    // #pagination {
    //     position: relative;
    //     display: inline-block;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     height: 40px;
    //     text-align: center;
    //     a, .spacer {
    //         position: relative;
    //         height: 40px;
    //         width: 40px;
    //         background-color: #e6e6e6;
    //         border-radius: 5px;
    //         margin: 0 2px;
    //         line-height: 40px;
    //         display: block;
    //         float: left;
    //         line-height: 40px;
    //         text-decoration: none;
    //         color: #000;
    //         opacity: .7;
    //         font-family: 'Oswald', sans-serif;
    //         letter-spacing: 1px;
    //         &.spacer {
    //             background-color: transparent;
    //             color: #666;
    //         }
    //         &.active {
    //             background-color: #4c7dff;
    //             color: #fff;
    //             opacity: 1;
    //         }
    //         &.disabled {
    //             display: none;
    //         }
    //         img {
    //             position: absolute;
    //             height: 10px;
    //             width: 10px;
    //             top: 0;
    //             left: 0;
    //             margin: 15px;
    //             opacity: .7;
    //         }
    //     }
    // }
}
