// out: ../css/home.css, compress: true, autoprefixer: defaults
.container {
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
}
.section {
    position: relative;
    width: 100%;
    clear: both;
    overflow: hidden;
}
#intro {
    position: relative;
    width: 100%;
    min-height: calc(~"100vh - 320px");
    box-sizing: border-box;
    // top: 50%;
    // transform: translateY(-50%);
    .contents {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .hello {
        display: block;
        // width: 80%;
        // left: 20%;
        // top: 50%;
        // transform: translateY(-50%);
        margin-top: 0;
        span {
            font-size: 8rem;
            font-family: 'Roboto Mono', monospace;
            color: #000;
            opacity: .85;
            user-select: text;
            .fade {
                color: #ddd;
            }
        }
    }
    .introduction {
        // position: absolute;
        // width: 60%;
        // left: 20%;
        // top: 30%;
        // transform: translateY(+100px);
        span {
            line-height: 32px;
            font-size: 1.4rem;
            font-family: 'Roboto Mono', monospace;
            font-weight: 300;

            color: #222;
            opacity: .75;
            user-select: text;
            &.show {
                &:before {
                    opacity: 0;
                }
            }
        }
    }
}
#social {
    // position: fixed;
    position: relative;
    float: left;
    height: 180px;
    bottom: 110px;
    padding: 40px;
    box-sizing: border-box;
    padding-right: 0;
    z-index: 1;
    user-select: none;
    .social-btn {
        display: block;
        //width: 100%;
        height: auto;
        //float: left;
        height: 30px;
        margin-bottom: 15px;
        // &.m {
        //     height: 30px;
        // }
        // &.s {
        //     height: 20px;
        // }
        // &:first-child {
        //     margin: 0;
        // }
        &:hover {
            img {
                opacity: 1;
            }
            span {
                opacity: 1;
                transform: translateX(0);
            }
        }
        img {
            width: 30px;
            height: 30px;
            float: left;
            opacity: .5;
            transition: opacity .3s ease;
            filter: invert(1);
            // background: #0f0;
        }
        span {
            float: left;
            display: block;
            height: 30px;
            line-height: 30px;
            color: #000;
            margin: 0 15px;
            font-family: 'Oswald', sans-serif;
            letter-spacing: 1px;
            opacity: 0;
            transform: translateX(-5px);
            transition: .3s ease;
        }
    }
    @media screen and (max-width: 1840px) {
        position: relative;
        height: 30px;
        bottom: -70px;
        //left: 50%;
        // left: 0;
        // transform: translateX(-100%);
        // margin: 0;
        // display: none;
        .btn {
            width: 30px;
            display: inline-block;
            font-size: 0;
            span {
                display: none;
            }
            margin-right: 20px;
        }
    }
}
.red {
    position: absolute;
    width: 50px;
    top: 180%;
    height: 50px;
    background-color: #f00;
    margin-left: 10%;
    backface-visibility: hidden;
}
.green {
    position: absolute;
    width: 50px;
    top: 180%;
    height: 50px;
    background-color: #0f0;
    margin-left: 15%;
    backface-visibility: hidden;
}
.blue {
    position: absolute;
    width: 50px;
    top: 180%;
    height: 50px;
    background-color: #00f;
    margin-left: 20%;
    backface-visibility: hidden;
}
#latest-articles {
    position: relative;
    // overflow-y: hidden;

    float: right;
    // top: 100vh;
    // transform: translateY(-100%);
    width: 50vw;
    //height: 300px;
    padding: 40px;
    //padding-top: 140px;
    box-sizing: border-box;
    z-index: 1;
    &:hover {
        &:before {
            transform: scale(2);
            transition: .4s ease;
        }
        &:after {
            transform: scale(1);
            opacity: .1;
            transition: .4s ease .4s;
        }
        // .title, .description {
        //     background-color: #fff;
        //     box-shadow: 0 0 0 5px #fff !important;
        //     transform: translateX(-10px);
        //     &.title {
        //         margin-right: 20px;
        //     }
        // }
        // .indicators {
        //     .indicator {
        //         background-color: #fff;
        //         transition: .4s ease .4s;
        //         &:hover {
        //             background-color: #eee;
        //         }
        //         &.active {
        //             background-color: #3a3b3c;
        //         }
        //     }
        // }
    }
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f0f1f2;
        top: 0;
        left: 0;
        transform: scale(1);
        transform-origin: center right;
        transition: .4s ease;
        z-index: -1;
        //pointer-events: none;
    }
    &:after {
        // content: '';
        position: absolute;
        display: block;
        width: 200%;
        height: 200%;
        background-color: #f00;
        top: -50%;
        left: -100%;
        transform: scale(1);
        transform-origin: center right;
        transition: transform .4s ease, opacity .1s ease;
        z-index: -1;
        pointer-events: none;
        background: url('https://i.ytimg.com/vi/ODVdEI93R3E/maxresdefault.jpg');
        background-size: cover;
        opacity: 0;
    }
    //padding-right: 200px;
    // .header {
    //     position: relative;
    //     width: 100%;
    //     height: 20px;
    //     text-transform: uppercase;
    //     font-family: 'Montserrat', sans-serif;
    //     color: #66666f;
    //     font-weight: 600;
    //     line-height: 20px;
    //     letter-spacing: .5px;
    //     font-size: .9rem;
    // }
    .article {
        height: 95px;
        width: 100%;
        max-width: 670px;
        position: relative;
        //margin: 20px 0;
        //padding: 0 13px;
        //box-sizing: border-box;
        text-align: right;
        .title {
            top: 10px;
            display: inline;
            position: relative;
            text-align: right;
            //width: 720px;
            color: #000;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0 6px;

            font-size: 1.2rem;
            // line-height: 40px;
            //color: #666;
            font-weight: 400;
            font-family: 'Lato', sans-serif;
            margin-right: 10px;
            transition: .2s ease;
            box-shadow: 0 0 0 5px transparent;
            // background-color: #0f0;
            transform: translateX(0);
        }
        .description {
            top: 15px;
            margin-top: 10px;
            display: block;
            position: relative;
            text-align: right;
            // height: 30px;
            line-height: 30px;
            color: #333;
            // margin-bottom: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0 6px;

            font-size: 1.2rem;

            margin-right: 10px;

            font-weight: 300;
            font-family: 'Source Sans Pro', sans-serif;

            transition: .2s ease;
            box-shadow: 0 0 0 5px transparent;
        }
        .bg {
            display: none;
        }
        // .more {
        //     height: 20px;
        //     width: 100%;
        //     font-family: 'Montserrat', sans-serif;
        //     line-height: 20px;
        //     font-weight: 400;
        //     font-size: 1rem;
        //     color: #44444f;
        //     text-decoration: none;
        //     transition: color .3s ease;
        //     &:hover {
        //         color: #dde;
        //     }
        // }
    }
    .indicators {
        position: relative;
        max-width: 670px;
        bottom: 0;
        //width: 150px;
        height: 5px;
        padding-right: 16px;
        box-sizing: border-box;
        //padding: 0 13px;
        text-align: right;
        font-size: 0;


        .indicator {
            //float: right;
            display: inline-block;
            width: 30px;
            height: 5px;
            background-color: #ddd;
            margin-left: 20px;
            transition: background-color .2s ease;
            &.active {
                background-color: #6a6b6c;
            }
        }
    }
}
#frontend {
    background-color:#0a0b0c;
    // min-height: 100vh;
    width: 100%;
    position: relative;
    font-size: 0;
    .title {
        display: block;
        height: 300px;
        line-height: 300px;
        // position: relative;
        // color: #202122;
        // font-size: 10rem;
        // font-family: 'Segoe UI', sans-serif;
        // font-weight: 700;
        // top: 100px;
        position: relative;

        // padding-top: 100px;
        // display: block;
        // width: calc(~"100% - 1000px");

        span {
            font-size: 6rem;
            font-family: 'Roboto Mono', monospace;
            color: #ccc;
            user-select: text;
        }
    }
    .description {
        display: inline-block;
        font-size: 0;
        vertical-align: top;
        width: calc(~"100% - 720px");
        margin-bottom: 100px;
        span {
            line-height: 36px;
            font-size: 1.6rem;
            font-family: 'Roboto Mono', monospace;
            font-weight: 300;
            user-select: text;

            color: #77777a;
            &.show {
                &:before {
                    opacity: 0;
                }
            }
        }
    }
    .layers-container {
        position: relative;
        width: 600px;
        vertical-align: top;
        height: 600px;
        display: inline-block;
        // bottom: 0;
        margin-top: -150px;
        margin-left: 120px;
        .background {
            position: absolute;
            // top: 50%;
            // left: 50%;
            left: 25%;
            top: 25%;
            width: 50%;
            height: 50%;
            // margin-left: 400px;
            // background-color: #fff;
            // right: 200px;
            // perspective: 10000px;
            // display: none;
            // transform: perspective(100px) rotateZ(25deg) skewX(-40deg) scale(.5);
            // transform: scale(1.15);
            .layer {
                // display: none;
                // width: 360px;
                // height: 640px;

                width: 100%;
                height: 177%;
                // top: 150px;
                background-color: rgba(255,255,255,.01);
                // right: 200px;
                position: absolute;
                pointer-events: none;
                // margin-top: -10px;
                // background: url('https://9to5google.com/wp-content/uploads/sites/4/2018/08/android-p-overview-3.png');
                // background-size: contain;
                @x: -120deg;
                @y: 180deg;
                @z: -130deg;
                // rotateX(-137deg) skewX(-0) rotateZ(-60deg) rotateY(206deg)
                // transform: translateZ(0);
                // box-shadow: inset 0 0 0 2px #fff;
                padding: 10px;
                box-sizing: border-box;
                // animation: load 2s ease;
                transition: 2s ease;
                transform: rotateX(@x) rotateY(@y) rotateZ(@z) translateZ(0);
                font-size: 0;
                // @keyframes load {
                //     0% {
                //
                //     }
                //     100% {
                //
                //     }
                // }
                &.load {
                    &:nth-child(1) {
                        //background-color: #f00;
                        transform: rotateX(@x) rotateY(@y) rotateZ(@z) translateZ(0);
                    }
                    &:nth-child(2) {
                        //background-color: #ff0;
                        transform: rotateX(@x) rotateY(@y) rotateZ(@z) translateZ(50px);
                    }

                    &:nth-child(3) {
                        //background-color: #0f0;
                        transform: rotateX(@x) rotateY(@y) rotateZ(@z) translateZ(100px);
                    }
                    &:nth-child(4) {
                        //background-color: #0ff;
                        transform: rotateX(@x) rotateY(@y) rotateZ(@z) translateZ(150px);
                    }
                    &:nth-child(5) {
                        //background-color: #00f;
                        transform: rotateX(@x) rotateY(@y) rotateZ(@z) translateZ(200px);
                    }
                }




                // perspective: 1px;
                // &:nth-child(1) {
                //     background-color: #f00;
                //     transform: translateX(0px) translateY(80px);
                // }
                // &:nth-child(2) {
                //     background-color: #ff0;
                //     transform: translateX(-50px) translateY(40px);
                // }
                //
                // &:nth-child(3) {
                //     background-color: #0f0;
                //     transform: translateX(-100px) translateY(0px);
                // }
                // &:nth-child(4) {
                //     background-color: #0ff;
                //     transform: translateX(-150px) translateY(-40px);
                // }
                // &:nth-child(5) {
                //     background-color: #00f;
                //     transform: translateX(-200px) translateY(-80px);
                // }
                .box {
                    background-color: #0d0e0f;
                    // width: 100%;
                    // height: 100%;
                    // background-color: #fff;
                    box-shadow: 0 0 0 4px #1de9b6;
                    // box-shadow: 0 0 0 8px #5df9c6;
                    // border-radius: 4px;
                    position: relative;
                    pointer-events: all;
                    transition: background-color .2s ease;
                    top: 0;
                    padding-bottom: 182.5%;
                    &.nav {
                        padding-bottom: 10%;
                        background-color: #131415;
                    }
                    &.body {
                        top: 6%;
                        padding-bottom: 150%;
                        background-color: #101112;
                    }
                    &.footer {
                        // top: 70%;
                        margin-top: 152.5%;
                        padding-bottom: 20%;
                        background-color: #131415;
                    }
                    &.dot {
                        padding-bottom: 10%;
                        width: 10%;
                        left: 85%;
                        top: 79.6666%;
                        border-radius: 50%;
                        background-color: #161718;
                    }
                    &:hover {
                        // transform: translateZ(100px);
                        background-color: #1de9b6;
                    }
                }
            }
        }
    }

}
#backend {
    background-color:#0a0b0c;
    // min-height: 100vh;
    width: 100%;
    position: relative;
    font-size: 0;
    .title {
        display: block;
        height: 300px;
        line-height: 300px;
        // position: relative;
        // color: #202122;
        // font-size: 10rem;
        // font-family: 'Segoe UI', sans-serif;
        // font-weight: 700;
        // top: 100px;
        position: relative;

        text-align: right;
        // padding-top: 100px;
        // display: block;
        // width: calc(~"100% - 1000px");

        span {
            font-size: 6rem;
            font-family: 'Roboto Mono', monospace;
            color: #ccc;
            user-select: text;
        }
    }
    .description {
        display: inline-block;
        font-size: 0;
        vertical-align: top;
        width: calc(~"100% - 720px");
        //margin-bottom: 100px;
        text-align: right;
        span {
            line-height: 36px;
            font-size: 1.6rem;
            font-family: 'Roboto Mono', monospace;
            font-weight: 300;
            user-select: text;

            color: #77777a;
            &.show {
                &:before {
                    opacity: 0;
                }
            }
        }
    }
    .code-container {
        width: 600px;
        height: 600px;
        // background-color: #0f0;
        display: inline-block;
        margin-right: 120px;
        margin-top: -200px;
        margin-bottom: 150px;
        .editor {
            position: absolute;
            width: 400px;
            height: 487px;
            background-color: #20252d;
            border-radius: 6px;
            overflow: hidden;
            box-shadow: 0 10px 30px -20px #000;
            transform: translateY(0);
            transition: all .2s ease-in-out;
            &:first-child {
                opacity: .5;
            }
            &:last-child {
                margin-left: 200px;
                margin-top: 100px;
            }
            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 15px 40px -10px #000;
            }
            .header {
                height: 24px;
                width: 100%;
                background-color: #181a1f;
                .control {
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    background-color: #3a3f4b;
                    background-color: #ffbd35;
                    display: inline-block;
                    margin: 6px 3px;
                    opacity: .9;
                    &:first-child {
                        margin-left: 6px;
                        background-color: #ff5d56;
                    }
                    &:last-child {
                        background-color: #00cc4b;
                    }
                }
            }
            .content {
                height: calc(~"100% - 48px");
                // background-color: #20252d;
                overflow: hidden;
                // overflow-y: auto;
                width: 100%;
                .line {
                    width: 100%;
                    overflow: hidden;
                    height: 12px;
                    margin: 6px;
                    .char, .ind {
                        height: 12px;
                        width: 12px;
                        display: inline-block;
                        &.char {
                            background-color: #3b404b;
                        }
                    }
                }
            }
            .footer {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 24px;
                width: 100%;
                // background-color: #181a1f;
                box-shadow: 0 -1px 0 0 #181a1f;
                .status {
                    position: absolute;
                    width: 80px;
                    height: 12px;
                    margin: 6px;
                    right: 0;
                    background-color: #31353f;
                }
            }
        }
    }
}
#projects {
    background-color:#fff;
    // min-height: 100vh;
    width: 100%;
    position: relative;
    font-size: 0;
    text-align: center;
    .title {
        display: block;
        height: 300px;
        line-height: 300px;
        // position: relative;
        // color: #202122;
        // font-size: 10rem;
        // font-family: 'Segoe UI', sans-serif;
        // font-weight: 700;
        // top: 100px;
        position: relative;

        // padding-top: 100px;
        // display: block;
        // width: calc(~"100% - 1000px");

        span {
            font-size: 6rem;
            font-family: 'Roboto Mono', monospace;
            color: #333;
            user-select: text;
        }
    }
    .description {
        display: inline-block;
        font-size: 0;
        vertical-align: top;
        //width: calc(~"100% - 320px");
        span {
            line-height: 36px;
            font-size: 1.6rem;
            font-family: 'Roboto Mono', monospace;
            font-weight: 300;
            user-select: text;

            color: #77777a;
            &.show {
                &:before {
                    opacity: 0;
                }
            }
        }
    }
}
