// out: ../css/navigation.css, compress: true, autoprefixer: defaults
.wrap-every(@n) {
    &:nth-child(@{n}n + 1) {
        clear: left;
    }
}
nav {
    width: 260px;
    padding: 40px;
    height: 100vh;
    background-color: #fff;
    display: block;
    position: absolute;
    z-index: 1000;
    .header {
        display: block;
        width: auto;
        height: 60px;
        top: 0;
        &:hover .triangles {
            box-shadow: 0 0 0 15px #f2f2f2;
        }
        .triangles {
            content: '';
            opacity: 1;
            display: block;
            float: left;
            transform: scale(1);
            width: 60px;
            height: 60px;
            background-color: #333;
            border-radius: 50%;
            transition: box-shadow .3s ease, opacity .3s ease;
            background-image: url("/images/logo.png");
            background-size: 100% 100%;
            opacity: .5;
        }
        .logo {
            display: block;
            float: left;
            height: 60px;
            width: 105px;
            margin-left: 30px;
            top: 0;
            font-family: 'Nunito', sans-serif;
            font-weight: 400;
            transform: translateX(-4px);
            opacity: .5;
            transition: transform .5s ease, opacity .3s ease;
            box-shadow: 0 0 0 0 #eee;
            background-image: url("/images/logo_dark.svg");
            background-size: 100% 100%;
        }
    }
    &:hover {
        .header {
            .logo {
                transform: translateX(0);
                opacity: 1;
            }
            .triangles {
                opacity: 1;
            }
        }
        .dropdown {
            li:hover {
                span {
                    opacity: 1;
                    transform: translateX(4px) !important;
                }
            }
            li:first-child:after {
                left: 12px;
                top: 11px;
                height: 36px !important;
                transform: rotate(-30deg) !important;
                transition: .5s ease !important;
            }
        }
        li {
            opacity: 1;
            &:after, &:before {
                opacity: 1;
            }
            &:before {
                transform: scale(1.1);
                background-color: #666;
                opacity: 1;
                box-shadow: 0 0 0 2px #ccc;
            }
            &.active:before {
                background-color: #2476d3;
                box-shadow: 0 0 0 2px #6db8eb;
            }
            &:hover {
                &:before {
                    transform: scale(1.2);
                }
                span {
                    opacity: 1;
                    transform: translateX(4px) !important;
                }
            }

            a  {
                pointer-events: all;
                span {
                    opacity: .5;
                }
            }
        }
    }
    ul {
        margin-top: 16px;
        .dropdown {
            li:first-child:after {
                left: 12px;
                height: 36px !important;
                transform: rotate(-35deg) !important;
                transition: .5s ease !important;
            }


            &:hover {
                &:before {
                    transform: scale(1.1);
                }

                span {
                    opacity: 0.5;
                    transform: translateX(0);
                }
            }

        }
        li {
            font-size: 0;
            width: auto;
            height: 36px;
            top: 0px;
            transition: transform .5s ease;
            transform: translateY(0);
            position: relative;
            float: left;
            clear:both;
            margin-bottom: -6px;



            &.item {
                margin-left: 20px;
            }

            &:before {
                top: 0;
                content: ' ';
                display: block;
                left: 0;
                border-radius: 50%;
                position: absolute;
                margin: 10px 24px;
                z-index: 10;
                width: 12px;
                height: 12px;
                background-color: #666;
                transition: transform .5s ease, background-color .5s ease, box-shadow .5s ease;
                //border: 2px solid #e3e3e3;
                box-shadow: 0 0 0 2px #e3e3e3;
            }
            &:not(:last-child):after {
                top: 8px;
                content: '';
                display: block;
                position: absolute;
                margin: 7px 28px;
                width: 2px;
                border: 1px solid #eee;
                height: 30px;
                transition: background-color .3s ease, border .3s ease;
                background-color: #cfd3d3;
            }
            a {
                display: block;
                text-decoration: none;
                color: #333;
                margin-left: 60px;
                height: 100%;
                pointer-events: none;
                span {
                    display: block;
                    line-height: 36px;
                    height: 36px;
                    position: relative;
                    transition: transform .5s ease, opacity .5s ease;
                    text-align: left;
                    font-size: 1.1rem;
                    font-family: 'Nunito', sans-serif;
                    font-weight: 400;
                    opacity: 0;
                }
            }
        }
    }
}
