// out: ../css/sht.css, compress: true, autoprefixer: defaults
html, body {
    overflow-x: hidden;
    position: relative;
}
main {
    position: relative;
    margin: 0 auto;
    // max-width: 1600px;
    min-height: 100vh;
    //overflow-y: scroll;
    background-color: #fff;
    height: 100%;
    &:before {
        content: '';
        display: block;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        position: fixed;
        //background: linear-gradient(to bottom, #25272d 0%, #17191c 60%, #141516 100%);
        //background: linear-gradient(to bottom, #07090c 0%, #05070a 60%, #040506 100%);

        //background-color: #f6f6f8;
        background-repeat: no-repeat;
        backface-visibility: hidden;
        z-index: -1;
        background: linear-gradient(to bottom, #fff 0%, #f6f6f8 100%);
        //background: linear-gradient(to bottom, #fff 0%, #aaa 100%);
        background: #fff;
    }
}

* {
    user-select: none;
    backface-visibility: hidden;
    &::selection {
        background: rgba(101,102,103,.1);
    }
}

.link {
    position: relative;
    padding: 1px;
    background-color: transparent !important;
    text-decoration: none;
    color: #333;
    &:hover {
        color: #000;
        &:after {
            transform: scaleX(1);
            border-bottom: 2px solid #000;
        }
    }
    &:active {
        color: #1a1a1a;
        &:after {
            border-bottom: 2px solid #1a1a1a;
        }
    }
    &.light {
        color: #ddd;
        &:after {
            border-bottom: 2px solid #ddd;
        }
        &:hover {
            color: #fff;
            &:after {
                border-bottom: 2px solid #fff;
            }
        }
        &:active {
            color: #ddd;
            &:after {
                border-bottom: 2px solid #ddd;
            }
        }
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: 0;
        border-bottom: 2px solid #1a1a1a;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .2s ease;
        z-index: 0;
    }
}
