// out: ../css/theme.css, compress: true, autoprefixer: defaults
.theme-overlay {
    position: absolute;
    width: 200vw;
    height: 100vh;
    z-index: 9999;
    transform: translateX(-100%);
    &.dark, &.light {
        transition: transform 2s cubic-bezier(0.66, 0, 0.33, 1);
        transform: translateX(50%);
    }
    &.dark {
        background-color: #333;
    }
    &.light {
        background-color: #fafbfc;
    }
}
nav.dark {
    background-color: #111;
    &.theming {
        ul {
            li {
                &:before {
                    transition: none !important;
                }
                &:after {
                    transition: none !important;
                }
            }
        }
    }
    .header {
        .triangles {
            background-color: #eee;
            background-image: url("/images/logo_dark.png");
        }
        .logo {
            background-image: url("/images/logo.svg");
        }
        &:hover .triangles {
            box-shadow: 0 0 0 15px rgba(255,255,255,.1);
        }
    }
    &.hover {
        ul {
            li {
                &:before {
                    background-color: #999 !important;
                    box-shadow: 0 0 0 2px #666 !important;
                }
                &.active:before {
                    background-color: #2476d3 !important;
                    box-shadow: 0 0 0 2px #0446a3 !important;
                }
                &:after {
                    background-color: #555 !important;
                    border: 1px solid #444 !important;
                }
            }
        }
    }
    ul {
        li {
            &:before {
                background-color: #555 !important;
                box-shadow: 0 0 0 2px #333 !important;
            }
            &:after {
                background-color: #303030 !important;
                border: 1px solid #252525 !important;
            }
            a span {
                color: #aaa;
            }
        }
    }
}
main.dark {
    background-color: #111;
    @media screen and (min-width: 993px) {
        &::-webkit-scrollbar {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #333;
            border: 4px solid #111;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #444;
        }
        &::-webkit-scrollbar-thumb:active {
            background: #3b3b3b;
        }
        &::-webkit-scrollbar-corner {
            background: transparent;
            border-radius: 10px;
        }
    }
}
