Options +FollowSymlinks

php_value short_open_tag 1

# Redirect all requests to index.php
RewriteEngine On
RewriteRule ^(.*)$ index.php [NC,L,QSA]
#RewriteRule ^api/(.+)$ index.php [NC,QSA,L]

#Redirect 403 errors to index.php
ErrorDocument 403 /index.php
