// out: ../../css/admin/editor.css, compress: true, autoprefixer: defaults
#markdown-editor {
    position: relative;
    font-size: 0;
    height: 100vh;
    width: 100%;
    #controls {
        position: relative;
        height: 100px;
        width: 100%;
        font-size: 0;
        z-index: 2;
        #wisiwyg, #options {
            display: inline-block;
            font-size: 16px;
            width: 50%;
            height: 100%;
            padding: 0 35px;
            box-sizing: border-box;
            .controls {
                width: auto;
                height: 50px;
                padding-top: 30px;
                background-color: #eaeaeb;
            }
            &:hover {
                .control {
                    transition: opacity .3s ease;
                    opacity: .75;
                }
            }
            .control {
                position: relative;
                width: 40px;
                height: 40px;
                float: left;
                margin: 5px 5px;
                box-sizing: border-box;
                border: none;
                opacity: .1;
                transition: opacity 1s ease .3s;
                background-color: transparent;
                &:hover {
                    &:after {
                        opacity: 1;
                    }
                    &:before {
                        transform: scale(1);
                        opacity: .1;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background-repeat: no-repeat;
                    background-size: 30px 30px;
                    background-position: center;
                    // filter: invert(1);
                    opacity: .8;
                    transition: opacity .3s ease;
                }
                &:before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background-color: #5555aa;
                    border-radius: 5px;
                    transform: scale(.95);
                    opacity: 0;
                    transition: .2s ease;
                }
            }
        }
        #wisiwyg {
            .bold:after {
                background-image: url('/images/admin/wisiwyg/bold.svg');
            }
            .italics:after {
                background-image: url('/images/admin/wisiwyg/italics.svg');
            }
        }
    }
    #markdown {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        font-size: 0;
        width: 50%;
        height: 100vh;
        z-index: 1;
        #editor {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            font-size: 16px;
            box-sizing: border-box;
            border: none;
            resize: none;
            padding: 40px;
            color: #383a42;
            font-family: 'Roboto Mono', monospace;
            white-space: pre-line;
            z-index: 2;
            background-color: #eaeaeb;
            overflow-x: hidden;
            overflow-y: auto;
            padding-top: 100px;
        }
        #preview {
            padding: 40px;
            position: absolute;
            top: 0;
            left: 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            font-size: 16px;
            background-color: #fff;
            overflow-x: hidden;
            overflow-y: auto;
            white-space: pre-line;
            z-index: 2;
            padding-top: 100px;
            font-family: 'Source Sans Pro',sans-serif;
            h1, h2, h3, h4, h5, h6 {
                font-family: 'Lato', sans-serif;
                line-height: 1.4em;
                font-weight: 400;
                color: #333;
            }
            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 2.8rem;
            }
            h3 {
                font-size: 2.6rem;
                font-weight: 400;
            }
            h4 {
                font-size: 2.4rem;
                font-weight: 400;
            }
            h5 {
                font-size: 2.2rem;
                font-weight: 400;
            }
            h6 {
                font-size: 2rem;
                font-weight: 400;
            }
            p {
                position: relative;
                margin: 0 auto;
                background-color: #fff;
                font-size: 1.4rem;
            }
            hr {
                height: 1px;
                width: 100%;
                background-color: #eee;
            }
            strong {
                font-weight: 600;
            }
            ul, ol {
                display: block;
                padding-inline-start: 40px;
                font-size: 1.4rem;
            }
            li {
                padding: 0;
                margin: -10px 0;
            }
            img {
                width: 100px;
                height: 100px;
            }
            table {
                border-collapse: collapse;
                border: 1px solid #ddf;
                tr, td, th {
                    padding: 10px;
                }
                td, th {
                    border: 1px solid #ddf;
                }
                th {
                    font-weight: 400;
                }
            }
        }
    }


}
